<h2>Your Tickets</h2>
<ul>
  <% tickets.forEach(ticket => { %>
    <li>
      <a href="/ticket/<%= ticket._id %>"><%= ticket.title %></a>
      - <%= ticket.status %>
      - <a href="<%= ticket.github_issue_url %>" target="_blank">GitHub Issue</a>
    </li>
  <% }) %>
</ul>